<html>
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Contact Us</title>
        <link rel="stylesheet" type="text/css" href="/static/CSS/contactUs.css">
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
        <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
        <script src="https://unpkg.com/aos@2.3.1/dist/aos.js"></script>
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>
        <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
        <script src="http://cdn.jsdelivr.net/particles.js/2.0.0/particles.min.js"></script> <script src="http://threejs.org/examples/js/libs/stats.min.js"></script>
        <script src="https://cdn.jsdelivr.net/particles.js/2.0.0/particles.min.js"></script><script type="text/javascript"></script>
    </head>

<body>
    <div class="jumbotron-fluid justify-content-center cont"  >
        <i class="fa fa-circle-thin fa-2x" aria-hidden="true" ></i>
          <i class="fa fa-square fa-2x" aria-hidden="true"></i>
          <i class="fa fa-square-o fa-2x" aria-hidden="true"></i>
          <i class="fa fa-square fa-2x" aria-hidden="true"></i>
          <i class="fa fa-circle-thin fa-2x" aria-hidden="true"></i>
          <i class="fa fa-square fa-2x" aria-hidden="true"></i>
          <i class="fa fa-circle-thin fa-2x" aria-hidden="true"></i>
          <i class="fa fa-circle-thin fa-2x" aria-hidden="true"></i>
          <i class="fa fa-circle-thin fa-2x" aria-hidden="true"></i>
          <i class="fa fa-square fa-2x" aria-hidden="true"></i>
          <i class="fa fa-square fa-2x" aria-hidden="true"></i>
          <i class="fa fa-circle-thin fa-2x" aria-hidden="true"></i>
          <i class="fa fa-square fa-2x" aria-hidden="true"></i>
          <i class="fa fa-circle-thin fa-2x" aria-hidden="true"></i>
          <i class="fa fa-circle-thin fa-2x" aria-hidden="true"></i>
          <i class="fa fa-square-o fa-2x" aria-hidden="true"></i>
          <i class="fa fa-square fa-2x" aria-hidden="true"></i>
          <i class="fa fa-circle-thin fa-2x" aria-hidden="true"></i>
          <i class="fa fa-square fa-2x" aria-hidden="true"></i>
          <i class="fa fa-square-o fa-2x" aria-hidden="true"></i>
          <i class="fa fa-square fa-2x" aria-hidden="true"></i>
          <i class="fa fa-square-o fa-2x" aria-hidden="true"></i>
          <i class="fa fa-circle-thin fa-2x" aria-hidden="true"></i>
          <i class="fa fa-circle-thin fa-2x" aria-hidden="true"></i>
          <i class="fa fa-laptop fa-2x" aria-hidden="true"></i>
        <div class="topnav nav nav-bar fixed-top" id="myTopnav">
            <a href="/">Home</a>
            <a href="uregister">Register</a>
            <a href="admins">Admin</a>
        </div>
    <p>
        <table>
            <tr style="color: white;">
                <th>Leader Mail</th>
                <th>&nbsp;Leader Name</th>
                <th>&nbsp;Leader Ph.no</th>
                <th>&nbsp;Leader College</th>
            </tr>
        {% for i in data %}
            <td style="color: white;">&nbsp;{{i.M1MailId}}</td>
            <td style="color: white;">&nbsp;{{i.M1Name}}</td>
            <td style="color: white;">&nbsp;{{i.M1Phone}}</td>
            <td style="color: white;">&nbsp;{{i.M1College}}</td>
        {% endfor %}
    </table>
    </p>
    <script src="/static/JS/contactUs.js"></script>
</body>
</html>