<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Contact Us</title>
        <link rel="stylesheet" type="text/css" href="/static/CSS/contactUs.css">
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
        <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
        <script src="https://unpkg.com/aos@2.3.1/dist/aos.js"></script>
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>
        <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
        <script src="http://cdn.jsdelivr.net/particles.js/2.0.0/particles.min.js"></script> <script src="http://threejs.org/examples/js/libs/stats.min.js"></script>
        <script src="https://cdn.jsdelivr.net/particles.js/2.0.0/particles.min.js"></script><script type="text/javascript"></script>
    </head>
    <body>
         <div class="jumbotron-fluid justify-content-center cont"  >
        <i class="fa fa-circle-thin fa-2x" aria-hidden="true" ></i>
          <i class="fa fa-square fa-2x" aria-hidden="true"></i>
          <i class="fa fa-square-o fa-2x" aria-hidden="true"></i>
          <i class="fa fa-square fa-2x" aria-hidden="true"></i>
          <i class="fa fa-circle-thin fa-2x" aria-hidden="true"></i>
          <i class="fa fa-square fa-2x" aria-hidden="true"></i>
          <i class="fa fa-circle-thin fa-2x" aria-hidden="true"></i>
          <i class="fa fa-circle-thin fa-2x" aria-hidden="true"></i>
          <i class="fa fa-circle-thin fa-2x" aria-hidden="true"></i>
          <i class="fa fa-square fa-2x" aria-hidden="true"></i>
          <i class="fa fa-square fa-2x" aria-hidden="true"></i>
          <i class="fa fa-circle-thin fa-2x" aria-hidden="true"></i>
          <i class="fa fa-square fa-2x" aria-hidden="true"></i>
          <i class="fa fa-circle-thin fa-2x" aria-hidden="true"></i>
          <i class="fa fa-circle-thin fa-2x" aria-hidden="true"></i>
          <i class="fa fa-square-o fa-2x" aria-hidden="true"></i>
          <i class="fa fa-square fa-2x" aria-hidden="true"></i>
          <i class="fa fa-circle-thin fa-2x" aria-hidden="true"></i>
          <i class="fa fa-square fa-2x" aria-hidden="true"></i>
          <i class="fa fa-square-o fa-2x" aria-hidden="true"></i>
          <i class="fa fa-square fa-2x" aria-hidden="true"></i>
          <i class="fa fa-square-o fa-2x" aria-hidden="true"></i>
          <i class="fa fa-circle-thin fa-2x" aria-hidden="true"></i>
          <i class="fa fa-circle-thin fa-2x" aria-hidden="true"></i>
          <i class="fa fa-laptop fa-2x" aria-hidden="true"></i>
        <div class="topnav nav nav-bar fixed-top" id="myTopnav">
            <a href="/">Home</a>
            <a href="uregister">Register</a>
            <a href="admins">Admin</a>
        </div>
        <div class="wrapper">
            <div class = "main">
                <h2>CONTACT&ensp;US</h2>
                <br>
                <p>IEEE SIT SB is a student organisation and technical team of SIT uplifting and enhancing the knowledge and bringing innovation.</p>
                </div>
                <br><br><br>
            <div class="media" style="left: 75%;">
                <ul>
                    <li><a href="https://www.facebook.com/IEEESITSB/"><i class="fa fa-facebook"></i></a></li>
                    <li><a href="https://www.instagram.com/ieeesitsb/"><i class="fa fa-instagram"></i></a></li>
                    <li><a href="https://www.linkedin.com/company/ieee-sit-student-chapter/"><i class="fa fa-linkedin"></i></a></li>
                    <li><a href="https://www.youtube.com/channel/UCPatXnxDMcEDlFEQKX3q3rg"><i class="fa fa-youtube"></i></a></li>
                    <li><a href="https://ieeesit.blogspot.com/"><i class="fa fa-bitcoin"></i></a></li>
                    <li><a href="https://play.google.com/store/apps/details?id=appinventor.ai_supreethr20.IEEE_Assist&hl=en_IN"><i class="fa fa-android"></i></a></li>
                </ul>
            </div>
            <div class="contacts-1">
                <h5>SNEHA S</h5><h5>(+91) 9900334455</h5><p>snehas@ieee.org</p>
            </div>
             <div class="contacts-2">
                <h5>SHRADHA BIRADAR</h5><h5>(+91) 9900334455</h5><p>shradhabiradar@ieee.org</p>
            </div>
            <div class="contacts-3">
                <h5>ZAKIR HUSSAIN</h5><h5>(+91) 9900334455</h5><p>zakir@ieee.org</p>
            </div>
            <div class="contacts-4">
                <h5>YASHAVARDHAN</h5><h5>(+91) 9900334455</h5><p>yashavardhan@ieee.org</p>
            </div>
            <div class="one">
                <h2>OUR&ensp;TEAM</h2>
            </div>
        <div class="team">
            <div class="flip-card col">
                <div class="flip-card-inner">
                    <div class="flip-card-front">
                        <img src="/static/IMG/img_avatar.png" alt="Avatar" style="width:100%;height:auto;">
                    </div>
                    <div class="flip-card-back">
                        <h1>ARUN P N</h1>
                        <p>8th Sem ISE</p>
                        <p>99702233445</p>
                    </div>
                </div>
            </div>
            <div class="flip-card-1 col-lg-3">
                <div class="flip-card-inner">
                    <div class="flip-card-front">
                        <img src="/static/IMG/img_avatar2.png" alt="Avatar" style="width:100%;height:auto;">
                    </div>
                    <div class="flip-card-back">
                        <h1>AISHWARYA ARUN</h1>
                        <p>6th Sem ISE</p>
                        <p>99702233445</p>
                    </div>
                </div>
            </div>
            <div class="flip-card-2 col-lg-3">
                <div class="flip-card-inner">
                    <div class="flip-card-front">
                        <img src="/static/IMG/img_avatar.png" alt="Avatar" style="width:100%;height:auto;">
                    </div>
                    <div class="flip-card-back">
                        <h1>AKSHITH RACHURE</h1>
                        <p>8th Sem ISE</p>
                        <p>99702233445</p>
                    </div>
                </div>
            </div>
            <div class="flip-card-3 col-lg-3">
                <div class="flip-card-inner">
                    <div class="flip-card-front">
                        <img src="/static/IMG/img_avatar2.png" alt="Avatar" style="width:100%;height:auto;">
                    </div>
                    <div class="flip-card-back">
                        <h1>CHAYASHREE K</h1>
                        <p>6th Sem CSE</p>
                        <p>99702233445</p>
                    </div>
                </div>
                </div>
            <div class="flip-card-4 col-lg-3">
                <div class="flip-card-inner">
                    <div class="flip-card-front">
                        <img src="/static/IMG/img_avatar2.png" alt="Avatar" style="width:100%;height:auto;">
                    </div>
                    <div class="flip-card-back">
                        <h1>SUSHMITHA TP</h1>
                        <p>6th Sem CSE</p>
                        <p>99702233445</p>
                    </div>
                </div>
            </div>
            <div class="flip-card-5 col-lg-3">
                <div class="flip-card-inner">
                    <div class="flip-card-front">
                        <img src="/static/IMG/img_avatar2.png" alt="Avatar" style="width:100%;height:auto;">
                    </div>
                    <div class="flip-card-back">
                        <h1> Y RACHANA</h1>
                        <p>6th Sem CSE</p>
                        <p>99702233445</p>
                    </div>
                </div>
            </div>
     </div>
            </div>
        </div>
        <script src="/static/JS/contactUs.js"></script>
    </body>
</html>