<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>WIE_CODE_2.0_info</title>
  <style>
    .countdownContainer {
      position: absolute;
      top: 50%;
      left: 40%;
      /* right: 40%; */
      transform: translateX(-50%) translateY(-50%);
      text-align: center;
      background: green;
      padding: 10px;
      box-shadow: 0 0 5px 3px;
    }

    .info {
      font-size: 90px;
    }

    .headding {
      font-size: 50px;
    }

    
  </style>
  <link rel="stylesheet" href="/static/CSS/landing.css">
  <link rel="stylesheet" href="/static/CSS/icons.css">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
  <link href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet" />
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
  <link href="https://unpkg.com/aos@2.3.1/dist/aos.css" rel="stylesheet">
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
  <script src="https://unpkg.com/aos@2.3.1/dist/aos.js"></script>
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
  <script src="http://cdn.jsdelivr.net/particles.js/2.0.0/particles.min.js"></script>
  <script src="http://threejs.org/examples/js/libs/stats.min.js"></script>
  <script src="https://cdn.jsdelivr.net/particles.js/2.0.0/particles.min.js"></script>
  <script type="text/javascript"></script>
  <!-- {% load static %}
        <link rel="stylesheet" href="{% static 'landing.css' %}">
        <link rel="stylesheet" href="{% static 'icons.css' %}"> -->
</head>

<body>

  <div class="jumbotron-fluid justify-content-center cont">
    <i class="fa fa-circle-thin fa-2x" aria-hidden="true"></i>
    <i class="fa fa-square fa-2x" aria-hidden="true"></i>
    <i class="fa fa-square-o fa-2x" aria-hidden="true"></i>
    <i class="fa fa-square fa-2x" aria-hidden="true"></i>
    <i class="fa fa-circle-thin fa-2x" aria-hidden="true"></i>
    <i class="fa fa-square fa-2x" aria-hidden="true"></i>
    <i class="fa fa-circle-thin fa-2x" aria-hidden="true"></i>
    <i class="fa fa-circle-thin fa-2x" aria-hidden="true"></i>
    <i class="fa fa-circle-thin fa-2x" aria-hidden="true"></i>
    <i class="fa fa-square fa-2x" aria-hidden="true"></i>
    <i class="fa fa-square fa-2x" aria-hidden="true"></i>
    <i class="fa fa-circle-thin fa-2x" aria-hidden="true"></i>
    <i class="fa fa-square fa-2x" aria-hidden="true"></i>
    <i class="fa fa-circle-thin fa-2x" aria-hidden="true"></i>
    <i class="fa fa-circle-thin fa-2x" aria-hidden="true"></i>
    <i class="fa fa-square-o fa-2x" aria-hidden="true"></i>
    <i class="fa fa-square fa-2x" aria-hidden="true"></i>
    <i class="fa fa-circle-thin fa-2x" aria-hidden="true"></i>
    <i class="fa fa-square fa-2x" aria-hidden="true"></i>
    <i class="fa fa-square-o fa-2x" aria-hidden="true"></i>
    <i class="fa fa-square fa-2x" aria-hidden="true"></i>
    <i class="fa fa-square-o fa-2x" aria-hidden="true"></i>
    <i class="fa fa-circle-thin fa-2x" aria-hidden="true"></i>
    <i class="fa fa-circle-thin fa-2x" aria-hidden="true"></i>
    <i class="fa fa-laptop fa-2x" aria-hidden="true"></i>

    <div class="topnav nav nav-bar fixed-top" id="myTopnav">
      <!-- <a href="#home">Home</a> -->
      <a href="#schedule">Schedule</a>
      <a href="#domains">Domains</a>
      <a href="contact">Contact Us</a>
      <a href="uregister">Register <i class="fa fa-long-arrow-right" aria-hidden="true"></i></a>

    </div>
    <br><br><br><br><br><br>
    <div style="float: left;">
      <img src="/static/IMG/sittumkur.jpeg" class="smallimg" style="width:8%;height: 90px;">
      <img src="/static/IMG/ieeelo.jpeg" class="smallimg" style="width:13%;height:110px;">
      <img src="/static/IMG/ieeebg.jpeg" class="smallimg" style="width:13%;height:110px;">
      <img src="/static/IMG/wie.jpeg" class="smallimg" style="width:10%;height: 110px;">
    </div>
    <br><br><br><br>
    <section id="home">
      <br><br><br><br>
      <div class="nav-head" data-aos="fade-down" style="margin-top: 40px;">WIE CODE 2.0</div>
      <h3 class="homep text-break" data-aos="fade-right">WIE Code 2.0 is a hackathon aims to encourage and inspire more
        women to pursue tech.<br>
        Organizers promise a weekend filled with learning, exploring new topics,
        and building new friendships and amazing projects.</h3>
      <!--Heading-->
      
      <div class="timer " data-aos="fade-left">
        <h2 class="lastDay ">Last Day to register 04/April/2021</h2>
        <br>
        <h2 class="theDate text-break"></h2>
      </div>
      <div class="wieInfo text-break" data-aos="fade-right">

        <!-- <div class="blink row ">
          <div class="col-sm-4">
            <div class="rem" id="daysLeft"><span class="april">days</span>
              <div class="rem-kid1">We will see You in</div></div>

          </div>
          <div class="col-sm-4">            
            <div class="rem">50<div class="rem-kid2">Teams Enrolled</div></div>
        </div>
          <div class="col-sm-4">            
            <div class="rem">02<span class="april">/april</span><div class="rem-kid1">Last day to register</div></div>
        </div> -->
        <div>
          <h1 class="headding">Event Starts in..... </h1>

          <table style="margin-left: auto; margin-right: auto;">
            <!-- <tr class="info">
              <td colspan="4">Event Starts in..... </td>
          </tr> -->
            <tr class="info">
              <td id="days"></td>
              <td>:</td>
              <td id="hours"></td>
              <td>:</td>
              <td id="minutes"></td>
              <td>:</td>
              <td id="seconds"></td>
            </tr>
            <tr>
              <td>
                <h2>Days</h2>
              </td>
              <td>:</td>
              <td>
                <h2>Hours</h2>
              </td>
              <td>:</td>
              <td>
                <h2>Minutes</h2>
              </td>
              <td>:</td>
              <td>
                <h2>Seconds</h2>
              </td>
            </tr>
          </table>

        </div>
      </div>
  </div>
  </section>
  <h1 id="schedule" class="text-left" data-aos="fade-right">Schedule</h1>
  <!-- schedule -->
  <section id="timeline" data-aos="fade-up">

    <article data-aos="fade-up">
      <div class="inner">
        <span class="date">
          <span class="day">15<sup>th</sup></span>
          <span class="month">June</span>
          <span class="year">2021</span>
        </span>
        <div class="eventHead">Registration Start</div>
        <p class="text-break">Team can register themselves by submitting details and abstract.</p>
      </div>
    </article>
    <article data-aos="fade-up">
      <div class="inner">
        <span class="date">
          <span class="day">20<sup>th</sup></span>
          <span class="month">June</span>
          <span class="year">2021</span>
        </span>
        <div class="eventHead">Registration Ends</div>
        <p class="text-break">End of registration for WIE CODE</p>
      </div>
    </article>
    <article data-aos="fade-up">
      <div class="inner">
        <span class="date">
          <span class="day">25<sup>th</sup></span>
          <span class="month">June</span>
          <span class="year">2021</span>
        </span>
        <div class="eventHead text-break">Announcement of Selected Teams</div>
        <p class="text-break">Team Leaders will receive about their teams Selection.</p>
      </div>
    </article>
    <article data-aos="fade-up">
      <div class="inner">
        <span class="date">
          <span class="day">30<sup>th</sup></span>
          <span class="month">June</span>
          <span class="year">2021</span>
        </span>
        <div class="eventHead">Start of WIE Code 2.0</div>
        <p class="text-break">Here starts the most waited event WIE CODE.
          Happy Hacking!</p>
      </div>
    </article>
  </section>
  <h1 id="domains" class="text-left" data-aos="fade-up">Domains</h1>
  <section>
    <div class="container" data-aos="fade-right">
      <div class="card">
        <div class="imgBx" data-text="Design">
          <img src="#">
        </div>
        <div class="content">
          <div>
            <h3>HEALTH CARE</h3>
            <p>ABCD EF GHIJ KLMN OPQR STUV WXYZ</p>

          </div>
        </div>
        <a href="#" class=" stretched-link"></a>

      </div>
      <div class="card">
        <div class="imgBx" data-text="Code">
          <img src="#">
        </div>
        <div class="content">
          <div>
            <h3>SUPPLY CHAIN</h3>
            <p>ABCD EF GHIJ KLMN OPQR STUV WXYZ</p>

          </div>
        </div>
        <a href="#" class=" stretched-link"></a>

      </div>
      <div class="card">
        <div class="imgBx" data-text="domain3">
          <img src="#">
        </div>
        <div class="content">
          <div>
            <h3>WORKPLACE MANAGEMENT</h3>
            <p>ABCD EF GHIJ KLMN OPQR STUV WXYZ</p>

          </div>
        </div>
        <a href="#" class=" stretched-link"></a>

      </div>
      <div class="card">
        <div class="imgBx" data-text="domain4">
          <img src="#">
        </div>
        <div class="content">
          <div>
            <h3>E-LEARNING</h3>
            <p>abc dfrg nbf bfhbvv vghv gbc </p>

          </div>
        </div>
        <a href="#" class=" stretched-link"></a>

      </div>

    </div>
  </section>
  </div>
  <h2 class="text-white">Download the <a href="brochure.pdf" download="WieCode2.0_Brochure">Brochure</a> and <a
      href="abstract.pdf" download="WieCode2.0AbstractTemplate">Abstract Template</a> </h2>
  <br><br>
  <a href="uregister"> <button class="underline-magical">Register <i class="fa fa-long-arrow-right"
        aria-hidden="true"></i></button></a>

  <br><br>
  <footer>

    <div>
      <h5>Made with <span><i class="fa fa-heart" id="heart" aria-hidden="true"></i> </span> by <span> <a
            href="https://edu.ieee.org/in-sit/" target="_blank" rel="noopener noreferrer">IEEE_SIT_SB</a></span></h5>
    </div>
  </footer>



  <script src="/static/JS/index1.js"></script>
  <script>
    function countdown() {
      var now = new Date();
      var eventDate = new Date(2021, 4, 8);
      var currentTime = now.getTime();
      // console.log(currentTime);
      var eventTime = eventDate.getTime();
      // console.log(eventTime);

      var remTime = eventTime - currentTime;

      var s = Math.floor(remTime / 1000);
      var m = Math.floor(s / 60);
      var h = Math.floor(m / 60);
      var d = Math.floor(h / 24);

      h %= 24;
      m %= 60;
      s %= 60;

      h = (h < 10) ? "0" + h : h;
      m = (m < 10) ? "0" + m : m;
      s = (s < 10) ? "0" + s : s;

      document.getElementById("days").textContent = d;
      document.getElementById("days").innerText = d;

      document.getElementById("hours").innerText = h;
      document.getElementById("minutes").innerText = m;
      document.getElementById("seconds").innerText = s;

      setTimeout(countdown, 1000);
    }
    countdown();
  </script>
</body>

</html>

